---
---
@import "main";

$fa-font-path:        "../webfonts";
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/brands.scss";
@mixin icone($icon) {
  @include fa-icon;
  @extend .fas;
  @extend .fa-#{$icon};
}
  

body {
  font-family: "Computer Modern Sans", sans-serif;
}

div.cours {
  @include icone(graduation-cap);
  background-color : lightsalmon;

}

  .definition {
    @include icone(book);
  }

  .conseil {
    @include icone(lightbulb);
  }

  .lien {
    @include icone(link);
  }

  .exemple {
    @include icone(edit);
  }

  .attention {
    @include icone(exclamation-circle);
  }

